EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_API_BASE_URL=
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_AUTH_REDIRECT_URL=luma://auth/update-password
EXPO_PUBLIC_WHATSAPP_PHONE_VERIFICATION_ONBOARDING_REQUIRED=false
